* {
    all: unset; //Unsets everything so you can style everything from scratch
}

.main_bar {
    all: unset;
    background-color: #3a3a3a;
    color: #e2e3e6;
    border-radius: 7px;
    font-weight: bold;
    padding: 0px 1px;
    
    .tray {
       background-color: #3a3a3a;
       border-radius: 7px;

       box {
        margin: 4px 2px;
        padding: 0px 7px;
        border-radius: 5px;
        }

        .time {
            background-color: #9e8e64;
        }
        .date {
            background-color: #a07979;
        }
        .sysinfo {
            background-color: #7d946f;
        }
    }

    .workspaces {
        
        .workspace-entry {
            border-radius: 5px;
            margin: 4px 2px;
            padding: 0px 7px;
            border-radius: 5px;
            
        }
        .empty {
            background-color: rgb(78, 112, 112);
        }

        .occupied {
            background-color: rgb(106, 151, 151);
        }

        .current {
            background-color: rgb(212, 131, 64);
        }
        
    }
    
    
  }
